/**
 WHITENESS - A Demo Magento Theme
 Written for .net Magazine November 2011

 http://github.com/edvanbeinum/whiteness

 @author Ed van Beinum <e@edvanbeinum.com>
*/


h1 {
    color: #f0f;
}

h2 {
    margin: 15px 0;
}

/* Top right account links */
.header-container ul.links {
    margin: 0;
    background: #E5E5E5;
    padding: 5px 0;
    position: absolute;
    top: 0;
}

.header-container ul.links li {
    display: inline;
    margin: 0 10px 0 0;
}

.header-container .form-search {
    margin-top: 35px;
}

/* Navigation  */

ul#nav {
    border-top: 1px solid #DDD;
}

ul#nav,
ul#nav ul.level0,
ul#nav ul.level1 {
    list-style: none;
    margin: 0; /* Needed to override Bootstrap's list margin values */
}

.tab > li > a:hover {
    background-color: #e5e5e5;
}

/* These Navigation rules are copied from default/default theme. They hook into the Prototype Menu dropdown system.
 * No need to reinvent the wheel right? :)
 */

/* All Levels */
/* Style consistent throughout all nav levels */
#nav li {
    position: relative;
    text-align: left;
}

#nav li.over {
    z-index: 998;
}

#nav a,
#nav a:hover {
    display: block;
    line-height: 1.3em;
    text-decoration: none;
}

#nav span {
    display: block;
    cursor: pointer;
    white-space: nowrap;
}

#nav li ul span {
    white-space: normal;
}

/* 0 Level */
#nav li {
    float: left;
}

#nav li.active a {
    color: #515151;
}

#nav a {
    float: left;
    padding: 5px 12px 6px 8px;
    color: #0069D6;
}

#nav li.over a,
#nav a:hover {
    color: #515151;
}

/* 1st Level */
#nav ul li,
#nav ul li.active {
    float: none;
    margin: 0;
}

#nav ul li.last {
    background: #ecf3f6;
    padding-bottom: 0;
}

#nav ul a,
#nav ul a:hover {
    float: none;
    padding: 0;
    background: none;
}

#nav ul li a {
    font-weight: normal !important;
}

/* 2nd Level */
#nav ul,
#nav div {
    position: absolute;
    width: 15em;
    top: 27px;
    left: -10000px;
    border: 1px solid #e5e5e5;
}

#nav div ul {
    position: static;
    width: auto;
    border: none;
}

/* 3rd+ Level */
#nav ul ul,
#nav ul div {
    top: 5px;
}

#nav ul li a {
    background: #e5e5e5;
}

#nav ul li a:hover {
    background: #fff;
}

#nav ul li a,
#nav ul li a:hover {
    color: #2f2f2f !important;
}

#nav ul span,
#nav ul li.last li span {
    padding: 3px 15px 4px 15px;
}

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub {
    left: 0;
    z-index: 999;
}

#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub {
    left: 100px;
}

/* End Magento default Navigation rules */

/* New Products on homepage */

.new-product-row {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #DDD;
}
.new-product-row.first {
    border:  none;
    padding-top: 0;
}
ul.products-grid,
ul.add-to-links {
    list-style: none;
    margin: 0;
}

ul.add-to-links li {
    margin: 15px 0;
}

/* Right hand sidebar */

.col-right .block-viewed {
    border: solid 1px #E5E5E5;
    padding: 10px;
}

.col-right .block-viewed .block-title {
    margin-bottom: 10px;
}

/* Footer */

footer {
    border-top: 1px solid #ddd;
    background-color: #eee;
}
